# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/apps/appsync/.offline
**/build
**/.gradle
**/.webpack
**/.serverless
/apps/dynamodb/.dynamodb
/apps/elastic-migrations/.migrations_build
/apps/elastic-migrations/.serverless_plugins
**/.esbuild/

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/**/*.iml

# Framework caches
/.serverless
/.angular

# Tests
/apps/appsync/api/tests/

# App logs and configs
**/pid
**/server.log
**/.env

.angular
